<configuration>

    <property name="logPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n"/>
    <property name="logEncoding" value="UTF-8"/>
    <property name="logDirectory"
              value="${user.home}/bio_srv_logs"/>               <!--"${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}bio_srv_logs}"/>-->
    <property name="file_base_name" value="app"/>
    <property name="archive" value="archive"/>
    <timestamp key="current_date" datePattern="yyyy-MM-dd"/>


    <appender name="fileAppenderERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logDirectory}/errors.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>

        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logDirectory}/${archive}/errors_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${logEncoding}</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
        <Append>true</Append>
    </appender>

    <appender name="fileAppenderInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rlingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logDirectory}/${archive}/info_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rlingPolicy>
        <encoder>
            <charset>${logEncoding}</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
        <Append>true</Append>
    </appender>

    <root name="com.vkruk" level="ERROR">
        <appender-ref ref="fileAppenderERROR"/>
    </root>

    <logger name="com.vkruk.biometricauthenticationserver.services"  level="INFO">
        <appender-ref ref="fileAppenderInfo"/>
    </logger>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.vkruk" level="ERROR"  additivity="false" >
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>